# Vehicle Type

What sort of vehicles are involved in these crashes?

In [7]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib._color_data import BASE_COLORS, TABLEAU_COLORS, CSS4_COLORS, XKCD_COLORS
from crash_data_analysis import CrashDataAnalysis

In [2]:
cda = CrashDataAnalysis()
df = cda.crash_dataframe(verbose=True, all_columns=True)

Reading file: data/denver_crashes_2022_08_23__09_03.csv
Max timestamp: Sun Aug 21, 7:15 PM (2.66 days ago)
Fatality crashes this year: 58

In [17]:
df.TU1_VEHICLE_TYPE.unique()

array(['PASSENGER CAR/VAN', 'SUV', '  ', 'HIT AND RUN UNKNOWN',
       'PICKUP TRUCK/UTILITY VAN', 'NON-SCHOOL BUS',
       'PICKUP TRUCK/UTILITY VAN WITH TRAILIER', 'VEHICLE OVER 10000 LBS',
       'OTHER', 'BICYCLE', 'MOTOR HOME', 'TRANSIT BUS', 'SCHOOL BUS',
       'MOTORCYCLE', 'MOTORIZED BICYCLE',
       'PASSENGER CAR/VAN WITH TRAILER', 'SUV WITH TRAILER',
       'FARM EQUIPMENT', 'LIGHT RAIL', 'UNDER INVESTIGATION', 'UNK', '0'],
      dtype=object)

In [23]:
df.TU1_VEHICLE_MOVEMENT.unique()

array(['GOING STRAIGHT', 'MAKING LEFT TURN', 'MAKING U-TURN', '  ',
       'ENTERING/LEAVING PARKED POSITION', 'OTHER', 'BACKING', 'SLOWING',
       'MAKING RIGHT TURN', 'CHANGING LANES', 'STOPPED IN TRAFFIC',
       'PASSING', 'SPUN OUT OF CONTROL', 'WEAVING', 'PARKED',
       'AVOIDING OBJECT IN ROADWAY', 'DROVE WRONG WAY',
       'UNDER INVESTIGATION', '021', '18', '00'], dtype=object)

In [22]:
df['at_fault_vehicle'] = df['TU1_VEHICLE_TYPE']

otherize = ['  ', '0', 'UNK']
for v in otherize:
    df.loc[df.TU1_VEHICLE_TYPE == v, 'at_fault_vehicle'] = 'OTHER'

TU1_VEHICLE_TYPE
BICYCLE                                    1129
FARM EQUIPMENT                               23
HIT AND RUN UNKNOWN                       14708
LIGHT RAIL                                   27
MOTOR HOME                                  150
MOTORCYCLE                                 1302
MOTORIZED BICYCLE                            92
NON-SCHOOL BUS                              454
OTHER                                     24426
PASSENGER CAR/VAN                         96882
PASSENGER CAR/VAN WITH TRAILER              361
PICKUP TRUCK/UTILITY VAN                  21647
PICKUP TRUCK/UTILITY VAN WITH TRAILIER     4681
SCHOOL BUS                                  277
SUV                                       42703
SUV WITH TRAILER                            179
TRANSIT BUS                                 909
UNDER INVESTIGATION                         607
VEHICLE OVER 10000 LBS                     6328
dtype: int64

In [ ]:
hitch_trailer = ['PASSENGER CAR/VAN', 'PICKUP TRUCK/UTILITY VAN', 'SUV']

In [ ]:
df.groupby('at_fault_vehicle').size()

In [24]:
at_fault_vehicle_pivot = pd.pivot_table(
    data=df
    , values='one'
    , index='at_fault_vehicle'
    , columns='crash_year'
    , aggfunc='sum'
    , fill_value=0
)

at_fault_vehicle_pivot

crash_year,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
TU1_VEHICLE_TYPE,,,,,,,,,,
BICYCLE,175,158,148,135,145,129,112,72,54,1
FARM EQUIPMENT,6,3,5,1,0,4,1,1,2,0
HIT AND RUN UNKNOWN,1550,1687,1682,1887,1792,1736,1745,1338,1274,17
LIGHT RAIL,1,5,3,4,2,6,2,1,3,0
MOTOR HOME,9,11,25,13,18,26,18,16,14,0
MOTORCYCLE,141,143,160,167,160,146,125,120,140,0
MOTORIZED BICYCLE,17,9,7,11,5,8,13,14,8,0
NON-SCHOOL BUS,57,50,59,58,67,66,58,21,18,0
OTHER,899,851,773,867,1206,1166,2415,771,4963,10515
PASSENGER CAR/VAN,11198,11721,12610,12632,12796,12179,10692,6804,6142,108
PASSENGER CAR/VAN WITH TRAILER,39,55,45,46,33,44,42,35,20,2
PICKUP TRUCK/UTILITY VAN,2318,2440,2680,2665,2682,2808,2564,1915,1552,23
PICKUP TRUCK/UTILITY VAN WITH TRAILIER,427,458,499,650,616,636,527,431,424,13
SCHOOL BUS,43,46,36,41,40,31,25,10,5,0
SUV,3981,4620,5199,5308,5432,5552,5495,3724,3344,48
SUV WITH TRAILER,12,16,18,22,24,21,26,15,24,1
TRANSIT BUS,102,113,101,121,115,142,116,59,40,0
UNDER INVESTIGATION,0,1,4,0,7,36,40,39,37,443
VEHICLE OVER 10000 LBS,642,722,742,806,760,841,865,543,401,6

In [26]:
plt.stackedbar(at_fault_vehicle)

AttributeError: module 'matplotlib.pyplot' has no attribute 'stackedbar'

## Conclusion

This data does not appear to be populating correctly in 2022 :(

In [6]:
df[df.incident_id == 2022165626].squeeze()

shape                            <geoprocessing describe geometry object object...
incident_id                                                             2022165626
offense_id                                                         202216562654410
offense_code                                                                5441.0
offense_code_extension                                                         0.0
top_traffic_accident_offense                        TRAF - ACCIDENT
first_occurrence_date                                          2022-04-04 15:00:00
last_occurrence_date                                           2022-04-04 15:00:00
reported_date                                            2022-04-04 15:16:00-06:00
incident_address                                         N GAYLORD ST / E 18TH AVE
geo_x                                                                    3151566.0
geo_y                                                                    1696624.0
geo_lon                                                                -104.961005
geo_lat                                                                  39.744803
district_id                                                                 6
precinct_id                                                                  622.0
neighborhood_id                                                     City Park West
bicycle_ind                                                                    NaN
pedestrian_ind                                                                 NaN
HARMFUL_EVENT_SEQ_1
HARMFUL_EVENT_SEQ_2
HARMFUL_EVENT_SEQ_3
road_location
ROAD_DESCRIPTION
ROAD_CONTOUR
ROAD_CONDITION
LIGHT_CONDITION
TU1_VEHICLE_TYPE                                                             OTHER
TU1_TRAVEL_DIRECTION                                                         OTHER
TU1_VEHICLE_MOVEMENT                                                         OTHER
TU1_DRIVER_ACTION                                                            OTHER
TU1_DRIVER_HUMANCONTRIBFACTOR                                                OTHER
TU1_PEDESTRIAN_ACTION                                                        OTHER
TU2_VEHICLE_TYPE                                                             OTHER
TU2_TRAVEL_DIRECTION                                                         OTHER
TU2_VEHICLE_MOVEMENT                                                         OTHER
TU2_DRIVER_ACTION                                                            OTHER
TU2_DRIVER_HUMANCONTRIBFACTOR                                                OTHER
TU2_PEDESTRIAN_ACTION                                                        OTHER
SERIOUSLY_INJURED                                                              0.0
FATALITIES                                                                     0.0
FATALITY_MODE_1                                                              OTHER
FATALITY_MODE_2                                                              OTHER
SERIOUSLY_INJURED_MODE_1                                                     OTHER
SERIOUSLY_INJURED_MODE_2                                                     OTHER
POINT_X                                                                        NaN
POINT_Y                                                                        NaN
sbi                                                                          False
fatality                                                                     False
sbi_or_fatality                                                              False
crash_date_str                                                      2022-04-04 Mon
crash_time_str                                                  Mon Apr 4, 3:16 PM
crash_year                                                                    2022
crash_day_of_year                                                               94
one                                                                              1
Name: 214946, dtype: object