# Prep data for PostGIS

Make a small CSV file for loading into PostGIS

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/denver_crashes_2023_01_19__14_31.csv')

/Users/devin/Projects/denver-street-data/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.loc[
    df.geo_lon.notnull()
    , ['incident_id','incident_address','geo_lon','geo_lat']
].tail(2000).to_csv('data/limit1k.csv', index=False)

In [4]:
p = pd.read_csv('data/preprocessed_crash_data.csv')

In [5]:
p.head()

,incident_id,top_traffic_accident_offense,reported_date,incident_address,geo_lon,geo_lat,neighborhood_id,bicycle_ind,pedestrian_ind,SERIOUSLY_INJURED,FATALITIES,updated_at,sbi,fatality,sbi_or_fatality,crash_date,crash_date_str,crash_time_str,crash_year,crash_day_of_year
0,201348,TRAF - ACCIDENT,2013-01-01 00:19:00-07:00,W COLFAX AVE / N BROADWAY ST,-104.987391,39.740059,Civic Center,0.0,0.0,0.0,0.0,2023-01-26 00:03:00+00:00,False,False,False,2013-01-01,2013-01-01 Tue,"Tue Jan 1, 12:19 AM",2013,1
1,201388,TRAF - ACCIDENT,2013-01-01 00:32:00-07:00,2300 N BROADWAY ST,-104.987293,39.754540,Five Points,0.0,0.0,0.0,0.0,2023-01-26 00:03:00+00:00,False,False,False,2013-01-01,2013-01-01 Tue,"Tue Jan 1, 12:32 AM",2013,1
2,20133,TRAF - ACCIDENT - HIT & RUN,2013-01-01 00:33:00-07:00,N WASHINGTON ST / RINGSBY CT,-104.978826,39.775885,Globeville,0.0,0.0,0.0,0.0,2023-01-26 00:03:00+00:00,False,False,False,2013-01-01,2013-01-01 Tue,"Tue Jan 1, 12:33 AM",2013,1
3,2013109,TRAF - ACCIDENT,2013-01-01 00:45:00-07:00,N UNIVERSITY BLVD / E 1ST AVE,-104.959222,39.718275,Cherry Creek,0.0,0.0,0.0,0.0,2023-01-26 00:03:00+00:00,False,False,False,2013-01-01,2013-01-01 Tue,"Tue Jan 1, 12:45 AM",2013,1
4,2013129,TRAF - ACCIDENT,2013-01-01 01:03:00-07:00,1200 BLOCK N BROADWAY ST,-104.987055,39.735476,Capitol Hill,0.0,1.0,0.0,0.0,2023-01-26 00:03:00+00:00,False,False,False,2013-01-01,2013-01-01 Tue,"Tue Jan 1, 1:03 AM",2013,1

In [6]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224909 entries, 0 to 224908
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   incident_id                   224909 non-null  int64
 1   top_traffic_accident_offense  224909 non-null  object
 2   reported_date                 224909 non-null  object
 3   incident_address              224909 non-null  object
 4   geo_lon                       216207 non-null  float64
 5   geo_lat                       216207 non-null  float64
 6   neighborhood_id               214056 non-null  object
 7   bicycle_ind                   219885 non-null  float64
 8   pedestrian_ind                219885 non-null  float64
 9   SERIOUSLY_INJURED             224226 non-null  float64
 10  FATALITIES                    224226 non-null  float64
 11  updated_at                    224909 non-null  object
 12  sbi                           224909 non-null  bool
 13  fatality                      224909 non-null  bool
 14  sbi_or_fatality               224909 non-null  bool
 15  crash_date                    224909 non-null  object
 16  crash_date_str                224909 non-null  object
 17  crash_time_str                224909 non-null  object
 18  crash_year                    224909 non-null  int64
 19  crash_day_of_year             224909 non-null  int64
dtypes: bool(3), float64(6), int64(3), object(8)
memory usage: 29.8+ MB

In [8]:
pd.io.sql.get_schema(p.reset_index(), 'crashes')

'CREATE TABLE "crashes" (\n"index" INTEGER,\n  "incident_id" INTEGER,\n  "top_traffic_accident_offense" TEXT,\n  "reported_date" TEXT,\n  "incident_address" TEXT,\n  "geo_lon" REAL,\n  "geo_lat" REAL,\n  "neighborhood_id" TEXT,\n  "bicycle_ind" REAL,\n  "pedestrian_ind" REAL,\n  "SERIOUSLY_INJURED" REAL,\n  "FATALITIES" REAL,\n  "updated_at" TEXT,\n  "sbi" INTEGER,\n  "fatality" INTEGER,\n  "sbi_or_fatality" INTEGER,\n  "crash_date" TEXT,\n  "crash_date_str" TEXT,\n  "crash_time_str" TEXT,\n  "crash_year" INTEGER,\n  "crash_day_of_year" INTEGER\n)'

In [9]:
raw = pd.read_csv('data/raw_crash_data.csv')

/Users/devin/Projects/denver-street-data/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
raw.groupby('pedestrian_ind').size()

pedestrian_ind
0.0    215136
1.0      4562
2.0       157
3.0        27
4.0         3
dtype: int64

In [11]:
raw['pedestrian_ind'].isnull().sum()

5024

In [13]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224909 entries, 0 to 224908
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   shape                          216207 non-null  object
 1   object_id                      224909 non-null  int64
 2   incident_id                    224909 non-null  int64
 3   offense_id                     224909 non-null  int64
 4   offense_code                   224909 non-null  int64
 5   offense_code_extension         224909 non-null  int64
 6   top_traffic_accident_offense   224909 non-null  object
 7   first_occurrence_date          224909 non-null  object
 8   last_occurrence_date           129311 non-null  object
 9   reported_date                  224909 non-null  object
 10  incident_address               224909 non-null  object
 11  geo_x                          216207 non-null  float64
 12  geo_y                          216207 non-null  float64
 13  geo_lon                        216207 non-null  float64
 14  geo_lat                        216207 non-null  float64
 15  district_id                    222121 non-null  object
 16  precinct_id                    216147 non-null  float64
 17  neighborhood_id                214056 non-null  object
 18  bicycle_ind                    219885 non-null  float64
 19  pedestrian_ind                 219885 non-null  float64
 20  HARMFUL_EVENT_SEQ_1            224691 non-null  object
 21  HARMFUL_EVENT_SEQ_2            206833 non-null  object
 22  HARMFUL_EVENT_SEQ_MOST         223759 non-null  object
 23  road_location                  223887 non-null  object
 24  ROAD_DESCRIPTION               224773 non-null  object
 25  ROAD_CONTOUR                   224013 non-null  object
 26  ROAD_CONDITION                 224734 non-null  object
 27  LIGHT_CONDITION                224747 non-null  object
 28  TU1_VEHICLE_TYPE               223005 non-null  object
 29  TU1_TRAVEL_DIRECTION           222395 non-null  object
 30  TU1_VEHICLE_MOVEMENT           222309 non-null  object
 31  TU1_DRIVER_ACTION              221455 non-null  object
 32  TU1_DRIVER_HUMANCONTRIBFACTOR  220405 non-null  object
 33  TU1_PEDESTRIAN_ACTION          202992 non-null  object
 34  TU2_VEHICLE_TYPE               221980 non-null  object
 35  TU2_TRAVEL_DIRECTION           221327 non-null  object
 36  TU2_VEHICLE_MOVEMENT           221848 non-null  object
 37  TU2_DRIVER_ACTION              220348 non-null  object
 38  TU2_DRIVER_HUMANCONTRIBFACTOR  220367 non-null  object
 39  TU2_PEDESTRIAN_ACTION          203199 non-null  object
 40  SERIOUSLY_INJURED              224226 non-null  float64
 41  FATALITIES                     224226 non-null  float64
 42  FATALITY_MODE_1                202786 non-null  object
 43  FATALITY_MODE_2                202741 non-null  object
 44  SERIOUSLY_INJURED_MODE_1       203156 non-null  object
 45  SERIOUSLY_INJURED_MODE_2       202786 non-null  object
 46  POINT_X                        0 non-null       float64
 47  POINT_Y                        0 non-null       float64
 48  updated_at                     224909 non-null  object
dtypes: float64(11), int64(5), object(33)
memory usage: 84.1+ MB

In [15]:
raw['reported_date'].max()

'2023-01-24 20:47:00'